Repository Codeinwp/jadrowp: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:js, pnpm run lint:css, composer run compat

fix: deploy script
  package.json
  pnpm-lock.yaml
Due: none

feat: release
  .env.example
  .release-it.json
  editor-style.css
  package.json
  pnpm-lock.yaml
  style.css
  woocommerce.css
Due: none

feat: release
  .env.example
  .release-it.json
  package.json
  pnpm-lock.yaml
Due: none

Author URI remove
  languages/jadro.pot
  src/sass/style.scss
  style-rtl.css
  style.css
Due: pnpm run lint:css

Screenshot, homepage and other updates
  functions.php
  languages/jadro.pot
  package.json
  readme.txt
  screenshot.png
  src/sass/style.scss
  style-rtl.css
  style.css
  templates/archive.html
  templates/front-page.html
Due: pnpm run lint:css, composer run compat

Fix Footer link and version
  patterns/footer.php
  style-rtl.css
Due: composer run compat

adds theme style
  styles/earthly-green.json
Due: none

Add new theme style
  styles/acid-orange.json
Due: none

Add theme style
  styles/deep-turqoise.json
Due: none

Delete styles/acid-orange.json
  styles/acid-orange.json
Due: none

Add theme style
  styles/faded-blue.json
Due: none

fix: version
  functions.php
  package.json
  src/sass/style.scss
  style-rtl.css
  style.css
Due: pnpm run lint:css, composer run compat

fix: code style & build
  languages/jadro.pot
  patterns/footer.php
Due: composer run compat

fix: pot file slug
  composer.json
  languages/jadro.pot
  package.json
Due: none

chore: add workflows
  .github/workflows/release.yml
  .github/workflows/wporg-release.yml
  .release-it.json
Due: none

chore: add workflows
  .github/workflows/release.yml
  .release-it.json
  functions.php
  languages/jadro.pot
  package.json
  src/sass/style.scss
  style-rtl.css
  style.css
Due: pnpm run lint:css, composer run compat

chore: add workflows
  .github/workflows/release.yml
  .release-it.json
  README.md
  languages/jadro.pot
  package.json
Due: none

ci: fix theme slug [skip-ci]
  .github/workflows/wporg-release.yml
Due: none

ci: fix workflows [skip ci]
  .github/workflows/wporg-release.yml
Due: none

Path conditions:
  pnpm run lint:js: any of: {src/**/*.js,gulpfile.js}
  pnpm run lint:css: any of: src/**/*.scss
  composer run compat: any of: **/*.php
