Repository Codeinwp/jadrowp: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:js, pnpm run lint:css, composer run compat

variation - hot pink
  styles/hot-pink.json
Due: none

Remove unused color codes
  languages/jadro.pot
  styles/blue.json
  styles/hot-pink.json
Due: none

Fix color variation issue
  styles/dodger-blue.json
  styles/hot-pink.json
Due: none

POT file generation
  languages/jadro.pot
Due: none

Fix color variation issue (#86)
  languages/jadro.pot
  styles/dodger-blue.json
  styles/hot-pink.json
Due: none

Feature section header change
  languages/jadro.pot
  patterns/features.php
  patterns/team-members.php
Due: composer run compat

Feature section header change (#87)
  languages/jadro.pot
  patterns/features.php
  patterns/team-members.php
Due: composer run compat

Screenshot change
  screenshot.png
Due: none

Converting images to webp
  patterns/hero-banner.php
  patterns/team-members.php
  patterns/testimonials.php
  src/images/avatar-1.jpg
  src/images/avatar-1.webp
  src/images/avatar-2.jpg
  src/images/avatar-2.webp
  src/images/avatar-3.jpg
  src/images/avatar-3.webp
  src/images/banner-image.png
  src/images/banner-image.webp
  src/images/headshot-1.jpg
  src/images/headshot-1.webp
  src/images/headshot-2.jpg
  src/images/headshot-2.webp
  src/images/headshot-3.jpg
  src/images/headshot-3.webp
Due: composer run compat

Fix dev setup
  gulpfile.js
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:js

WooCommerce support
  functions.php
  inc/woocommerce.php
  languages/jadro.pot
  src/images/icon-downarrow.png
  src/sass/woocommerce.scss
  theme.json
  woocommerce.css
Due: pnpm run lint:css, composer run compat

WooCommerce Support
  inc/woocommerce.php
  src/sass/style.scss
  src/sass/utils/config.scss
  src/sass/woocommerce.scss
  style-rtl.css
  style.css
  woocommerce.css
Due: pnpm run lint:css, composer run compat

WooCommerce Support
  package.json
  woocommerce-rtl.css
Due: none

WooCommerce Support (#91)
  functions.php
  inc/woocommerce.php
  languages/jadro.pot
  package.json
  src/images/icon-downarrow.png
  src/sass/style.scss
  src/sass/utils/config.scss
  src/sass/woocommerce.scss
  style-rtl.css
  style.css
  theme.json
  woocommerce-rtl.css
  woocommerce.css
Due: pnpm run lint:css, composer run compat

Fix missing color variation
  languages/jadro.pot
  styles/dodger-blue.json
  styles/hot-pink.json
Due: none

Update styles
  style-rtl.css
  style.css
  woocommerce-rtl.css
  woocommerce.css
Due: none

Fix shope page and mini-cart styles
  src/sass/woocommerce.scss
  woocommerce-rtl.css
  woocommerce.css
Due: pnpm run lint:css

Fix variable products style
  src/sass/woocommerce.scss
  woocommerce-rtl.css
  woocommerce.css
Due: pnpm run lint:css

Header patterns modification
  languages/jadro.pot
  patterns/header-woocommerce.php
Due: composer run compat

Main navigation text change
  patterns/header.php
Due: composer run compat

Kelly green variation
  languages/jadro.pot
  styles/kelly-green.json
Due: none

Additional font variations
  languages/jadro.pot
  src/fonts/Figtree-Variable.woff2
  src/fonts/Inter-Variable.woff2
  src/fonts/Outfit-Variable.woff2
  styles/dodger-blue.json
  theme.json
Due: none

Form elements and Woo style
  languages/jadro.pot
  src/sass/style.scss
  src/sass/woocommerce.scss
  style-rtl.css
  style.css
  styles/dodger-blue.json
  styles/hot-pink.json
  styles/kelly-green.json
  theme.json
  woocommerce-rtl.css
  woocommerce.css
Due: pnpm run lint:css

RTL ready
  patterns/cta-two-columns.php
  patterns/features.php
  patterns/hero-banner.php
  patterns/latest-articles.php
  patterns/pricing-table.php
  patterns/team-members.php
  patterns/testimonials.php
Due: composer run compat

RTL ready
  patterns/features.php
  patterns/hero-banner.php
  patterns/testimonials.php
  templates/archive.html
Due: composer run compat

RTL Ready (#101)
  patterns/cta-two-columns.php
  patterns/features.php
  patterns/hero-banner.php
  patterns/latest-articles.php
  patterns/pricing-table.php
  patterns/team-members.php
  patterns/testimonials.php
  templates/archive.html
Due: composer run compat

Color variable naming
  languages/jadro.pot
  patterns/cta-default.php
  patterns/cta-two-columns.php
  patterns/features.php
  patterns/footer.php
  patterns/pricing-table.php
  patterns/team-members.php
  patterns/testimonials.php
  src/sass/style.scss
  src/sass/woocommerce.scss
  style-rtl.css
  style.css
  styles/dodger-blue.json
  styles/hot-pink.json
  styles/kelly-green.json
  theme.json
  woocommerce-rtl.css
  woocommerce.css
Due: pnpm run lint:css, composer run compat

Color variable naming
  styles/dodger-blue.json
  styles/hot-pink.json
  styles/kelly-green.json
  theme.json
Due: none

Color variable naming
  languages/jadro.pot
  patterns/footer.php
  styles/dodger-blue.json
  styles/hot-pink.json
  styles/kelly-green.json
  theme.json
Due: composer run compat

Color variable naming (#102)
  languages/jadro.pot
  patterns/cta-default.php
  patterns/cta-two-columns.php
  patterns/features.php
  patterns/footer.php
  patterns/pricing-table.php
  patterns/team-members.php
  patterns/testimonials.php
  src/sass/style.scss
  src/sass/woocommerce.scss
  style-rtl.css
  style.css
  styles/dodger-blue.json
  styles/hot-pink.json
  styles/kelly-green.json
  theme.json
  woocommerce-rtl.css
  woocommerce.css
Due: pnpm run lint:css, composer run compat

Update static color of pattern
  patterns/pricing-table.php
  patterns/testimonials.php
Due: composer run compat

Black color variation
  languages/jadro.pot
  styles/black.json
Due: none

Frontpage template change
  templates/archive.html
  templates/front-page.html
  templates/index.html
Due: none

Fluid spacing
  templates/404.html
  templates/archive.html
  templates/page.html
  templates/search.html
  templates/single.html
Due: none

Background of comment form remove
  src/sass/style.scss
  style-rtl.css
  style.css
Due: pnpm run lint:css

Cleanup json file
  package.json
  styles/black.json
  styles/dodger-blue.json
  styles/hot-pink.json
  styles/kelly-green.json
  theme.json
Due: none

Coral style variation
  languages/jadro.pot
  styles/coral.json
Due: none

Coral color variation
  languages/jadro.pot
  styles/coral.json
Due: none

Path conditions:
  pnpm run lint:js: any of: {src/**/*.js,gulpfile.js}
  pnpm run lint:css: any of: src/**/*.scss
  composer run compat: any of: **/*.php
