Repository Codeinwp/jadrowp: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:js, pnpm run lint:css, composer run compat

.lintstagedrc:

{
	"{src/**/*.js,gulpfile.js}": "pnpm run lint:js",
	"src/**/*.scss": "pnpm run lint:css",
	"**/*.php": "composer run compat"
}

fix: testimonials
  patterns/testimonials.php
Due: composer run compat

Adding escaping
  patterns/features.php
Due: composer run compat

fix: patterns language
  languages/jadro.pot
  patterns/cta-default.php
  patterns/cta-two-columns.php
  patterns/features.php
  patterns/footer.php
  patterns/header-with-button.php
  patterns/hero-banner.php
  patterns/latest-articles.php
  patterns/pricing-table.php
Due: composer run compat

fix: cs setup
  .github/workflows/wpcs.yml
  .lintstagedrc
  functions.php
Due: composer run compat

fix: lint action
  .github/workflows/lint.yml
Due: none

Dynamic copyright year
  patterns/footer.php
Due: composer run compat

Update pricing-table.php
  patterns/pricing-table.php
Due: composer run compat

Fix PHP CS
  .phpcs.xml.dist
Due: none

Team member pattern
  editor-style-rtl.css
  editor-style.css
  languages/jadro.pot
  patterns/hero-banner.php
  patterns/team-members.php
  src/images/image-1.jpg
  src/images/image-2.jpg
  src/images/image-3.jpg
  style-rtl.css
  style.css
Due: composer run compat

Hero banner pattern restore
  languages/jadro.pot
  patterns/hero-banner.php
Due: composer run compat

Testimonials pattern update
  languages/jadro.pot
  patterns/testimonials.php
Due: composer run compat

Translation string update
  languages/jadro.pot
  patterns/testimonials.php
Due: composer run compat

Testimonials pattern update (#56)
  languages/jadro.pot
  patterns/testimonials.php
Due: composer run compat

Child theme compatible
  patterns/features.php
  patterns/hero-banner.php
  patterns/team-members.php
  patterns/testimonials.php
  templates/404.html
  templates/archive.html
  templates/home.html
  templates/index.html
  templates/no-title-space.html
  templates/page.html
  templates/search.html
  templates/single.html
Due: composer run compat

Update readme
  README.md
  composer.json
  composer.lock
Due: none

fixed WPCS
  patterns/footer.php
Due: composer run compat

Implement error check
  .github/workflows/php.yml
  .lintstagedrc
  composer.json
  composer.lock
Due: none

added styles
  styles/blue.json
  styles/red.json
Due: none

Colors and font update
  languages/jadro.pot
  patterns/cta-two-columns.php
  patterns/team-members.php
  patterns/testimonials.php
  src/images/banner.svg
  src/images/customization.svg
  src/images/speed.svg
  src/images/updates.svg
  theme.json
Due: composer run compat

Patterns section header
  languages/jadro.pot
  patterns/footer.php
  patterns/latest-articles.php
  patterns/pricing-table.php
  patterns/team-members.php
  patterns/testimonials.php
Due: composer run compat

Font replacement
  src/fonts/inter_normal_300.ttf
  src/fonts/inter_normal_400.ttf
  src/fonts/inter_normal_500.ttf
  src/fonts/inter_normal_600.ttf
  src/fonts/inter_normal_700.ttf
  src/fonts/oxygen_normal_300.ttf
  src/fonts/oxygen_normal_400.ttf
  src/fonts/oxygen_normal_700.ttf
  theme.json
Due: none

Json update
  theme.json
Due: none

Font replacement (#66)
  src/fonts/inter_normal_300.ttf
  src/fonts/inter_normal_400.ttf
  src/fonts/inter_normal_500.ttf
  src/fonts/inter_normal_600.ttf
  src/fonts/inter_normal_700.ttf
  src/fonts/oxygen_normal_300.ttf
  src/fonts/oxygen_normal_400.ttf
  src/fonts/oxygen_normal_700.ttf
  theme.json
Due: none

Patterns to home page
  templates/home.html
Due: none

Archive page spacing adjustment
  templates/archive.html
Due: none

fix/font-sizes
  theme.json
Due: none

Dynamic font size uses
  languages/jadro.pot
  patterns/cta-default.php
  patterns/cta-two-columns.php
  patterns/features.php
  patterns/footer.php
  patterns/hero-banner.php
  patterns/latest-articles.php
  patterns/pricing-table.php
  patterns/team-members.php
  patterns/testimonials.php
  templates/404.html
  templates/archive.html
  templates/index.html
  templates/page.html
  templates/search.html
  templates/single.html
  theme.json
Due: composer run compat

Hero banner image replacement
  patterns/hero-banner.php
  src/images/banner-image.png
  src/images/banner.svg
  src/images/headshot.png
Due: composer run compat

Spacing sizes for blocks
  languages/jadro.pot
  theme.json
Due: none

Update image
  patterns/team-members.php
  patterns/testimonials.php
  src/images/headshot-1.jpg
  src/images/headshot-2.jpg
  src/images/headshot-3.jpg
  src/images/headshot-square-1.jpg
  src/images/headshot-square-2.jpg
  src/images/headshot-square-3.jpg
Due: composer run compat

patterns styling
  languages/jadro.pot
  patterns/cta-default.php
  patterns/cta-two-columns.php
  patterns/features.php
  patterns/footer.php
  patterns/header-with-button.php
  patterns/header.php
  patterns/hero-banner.php
  patterns/latest-articles.php
  patterns/pricing-table.php
  patterns/team-members.php
  patterns/testimonials.php
  src/fonts/inter.woff2
  src/fonts/inter_normal_300.ttf
  src/fonts/inter_normal_400.ttf
  src/fonts/inter_normal_500.ttf
  src/fonts/inter_normal_600.ttf
  src/fonts/inter_normal_700.ttf
  style.css
  theme.json
Due: composer run compat

Image credits
  readme.txt
  style.css
Due: none

fix font-display and font fallback
  theme.json
Due: none

fix images size and replaced with updated file-name
  patterns/team-members.php
  patterns/testimonials.php
  src/images/avatar-1.jpg
  src/images/avatar-2.jpg
  src/images/avatar-3.jpg
  src/images/headshot-1.jpg
  src/images/headshot-2.jpg
  src/images/headshot-3.jpg
  src/images/image-3.jpg
Due: composer run compat

Button color change
  theme.json
Due: none

Core color change of elements
  languages/jadro.pot
  patterns/cta-two-columns.php
  patterns/features.php
  patterns/footer.php
  patterns/team-members.php
  theme.json
Due: composer run compat

Fix broken patterns
  patterns/cta-two-columns.php
  patterns/features.php
  patterns/footer.php
  patterns/team-members.php
Due: composer run compat

Features boxes layout change
  languages/jadro.pot
  patterns/features.php
  patterns/footer.php
  src/images/customization.svg
  src/images/speed.svg
  src/images/updates.svg
Due: composer run compat

Blue color variations
  languages/jadro.pot
  styles/blue.json
Due: none

Fix padding issue of lists
  editor-style-rtl.css
  editor-style.css
  src/sass/editor-style.scss
  src/sass/style.scss
  style-rtl.css
  style.css
Due: pnpm run lint:css
